.time-card {
    background-color: blue;
    border-radius: 0.3rem;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 0.6rem;
    padding: 1rem;
    width: 15rem;
  }
  
  .time-card-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;
  }
  
  .profile-picture {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
  }
  
  .time-card-header h3 {
    font-size: 1rem;
    margin-left: 0.6rem;
  }
  
  .time-card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .time-card-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.3rem;
    width: 48%;
  }
  
  .time-card-content p {
    font-weight: bold;
  }
  
